.description_section_background {
  background: var(--C2-50p);
}

.description_section {
  color: var(--C4);
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 6rem 0;
  width: 112rem;
}

.image {
  border-bottom: 16px solid var(--C2);
  border-radius: 337px 337px 0 0;
  border-right: 16px solid var(--C2);
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.text_container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 6rem;
  justify-content: center;
  text-align: center;
  width: 690px;
}

.contact_container {
  color: var(--C4);
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 4rem 0;
  width: 112rem;
}

.button {
  background: var(--C4);
  border: 3px solid transparent;
  border-radius: var(--radius-radius-full);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  padding: var(--spacing-s-2);
}

.button:hover {
  background: var(--C2);
  border: 3px solid var(--C3);
  color: var(--C4);
}
