.doubts_section {
  color: var(--C4);
  margin: auto;
  margin-bottom: 12rem;
  padding-top: 6em;
  width: 112rem;
}

.title {
  margin: auto;
  margin-bottom: 3.7rem;
}

.main_container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.doubt_container {
  align-items: flex-start;
  background: var(--C2-50p);
  border-radius: var(--radius-radius-rounded);
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 24px;
  justify-content: space-between;
  padding: 16px 0;
}

.question {
  background: var(--C2);
  padding: 10px 32px;
  width: 100%;
  font-weight: 950;
  font-size: 22px;
}

.answer {
  padding: 0 32px;
  width: 100%;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 0.1ch;
}
