.hero_section {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto 7rem;
  width: 112rem;
}

.hero_text {
  align-items: center;
  color: var(--C4);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: var(--spacing-spacing-md);
  height: 640px;
  justify-content: center;
  padding: var(--spacing-spacing-none);
  text-align: center;
  width: 550px;
}

.main_title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.main_text {
  max-width: 40rem;
}

.button_container {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: var(--spacing-spacing-xs);
  height: 96px;
  padding: var(--spacing-spacing-none);
}

.button {
  background: var(--C4);
  border: 3px solid transparent;
  border-radius: var(--radius-radius-full);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 5px;
  padding: var(--spacing-s-2);
}

.button:hover {
  background-color: inherit;
  border: 3px solid var(--C3);
  color: var(--C4);
}

.span {
  color: var(--C3);
  text-align: center;
}

.img_container {
  display: flex;
  flex-shrink: 0;
  height: 74.4rem;
  justify-content: flex-end;
}

.outer_element {
  background: var(--C1);
  border-bottom: 16px solid var(--C2);
  border-radius: 333px 333px 0 0;
  border-right: 16px solid var(--C2);
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  height: 682px;
  margin-top: 5.4rem;
  position: relative;
  width: 385px;
}

.bela_img {
  bottom: 0;
  position: absolute;
  right: 0;
}
