.moment_section {
  color: var(--C4);
  margin: auto;
  margin-bottom: 6rem;
  width: 112rem;
}

.title {
  margin-bottom: 3.7rem;
}

.main_container {
  display: flex;
  justify-content: space-between;
}

.sub_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text_container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 1.6rem;
  height: 13.6rem;
  text-align: center;
  width: 32.8rem;
}

.sub_title {
  background: var(--C2);
  border-radius: var(--radius-full);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.img {
  border-bottom: 1.6rem solid var(--C2);
  border-radius: 33.3rem 33.3rem 0 0;
  border-right: 1.6rem solid var(--C2);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
