.access_section_background {
  background: var(--C2-50p);
  margin-bottom: 6rem;
  padding-bottom: 6rem;
}

.access_section {
  color: var(--C4);
  margin: auto;
  width: 112rem;
}

.title {
  padding: 3.7rem  0;
}

.main_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sub_container {
  align-items: center;
  background: var(--C2);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 20px;
  height: 352px;
  padding: 10px 13px;
  text-align: center;
  width: 265px;
}

.sub_container img {
  border-radius: 16px;
  width: 100%;
}
