.question_section {
  flex-shrink: 0;
  height: 104px;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
  position: relative;
  text-align: center;
  width: 1128px;
}

.question_section:after {
  background: var(--C2);
  border-radius: 1180px;
  content: "";
  filter: blur(27.5px);
  height: 104px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1128px;
  z-index: -1;
}

.question_text {
  align-items: center;
  color: rgba(18, 57, 57, 0.8);
  display: flex;
  flex-shrink: 0;
  margin: auto;
  width: 70%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.translate {
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  90% {
    opacity: 1;

  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.visible {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.invisible {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}