footer {
  background: var(--C2);
  color: var(--C4);
  position: absolute;
  height: var(--footer-height);
  left: 0;
  bottom: 0;
  width: 100%;
}

.main_container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  margin: auto;
  width: 112rem;
}

.scroll_main_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55rem;
}

.scroll_sub_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.scroll_sub_container > * {
  color: var(--C4);
}
