@font-face {
  font-family: ivy;
  src: url("./fonts/IvyMode-Regular.ttf") format("truetype");
}
@font-face {
  font-family: syne;
  src: url("./fonts/Syne-Regular.ttf") format("truetype");
  font-weight: 100 500;
}
@font-face {
  font-family: syne;
  src: url("fonts/Syne-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: syne;
  src: url("fonts/Syne-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: syne;
  src: url("fonts/Syne-Bold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: syne;
  src: url("fonts/Syne-ExtraBold.ttf") format("truetype");
  font-weight: 900 950;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;

  --C1: #efefef;

  --C2: #c9d3d0;

  --C3: #8ca09a;

  --C4: #123939;

  --C2-50p: rgba(201, 211, 208, 0.5);

  --spacing-s-1: 0.8rem;

  --spacing-s-2: 1rem;

  --spacing-xs: 0.4rem;

  --spacing-md: 1.6rem;

  --spacing--lg: 3.2rem;

  --radius-radius-full: 36rem;

  --radius-radius-rounded: 1.6rem;

  --spacing-spacing-none: 0;

  --footer-height: 12rem;
}

.section-size {
  max-width: 116.5rem;
  padding: 3.7rem 1.5rem 6rem;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-direction: column;
  flex-wrap: wrap;
}

.section-main-title {
  padding-bottom: 3.7rem;
  margin-right: auto;
}

.H1 {
  font-family: ivy , syne, sans-serif;
  font-size: 5rem;
  font-style: normal;
  font-weight: 300;
}

.H2 {
  font-family: ivy, syne, sans-serif;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.15ch;
}

.H3 {
  font-family: ivy, syne, sans-serif;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.15ch;
  line-height: 1.5em;
}

.H4 {
  font-family: ivy , syne, sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.15ch;
  line-height: 1.5em;
}

.H5 {
  font-family: ivy, syne, sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.15ch;
  line-height: 1.5em;
}

.H6 {
  font-family: ivy, syne, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  font-style: normal;
  letter-spacing: 0.15ch;
  line-height: 1.5em;
}

.text-3xl {
  font-family: syne, ivy, sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.1ch;
  line-height: 1.2em;
}

.text-2xl {
  font-family: syne, ivy, sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.1ch;
  line-height: 1.2em; 
}

.text-xl {
  font-family: syne , ivy, sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 550;
  letter-spacing: 0.03ch;
}

.text-lg {
  font-family: syne, ivy, sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 530;
  line-height: 1.5em;
  letter-spacing: 0.2ch;
}

.text-md {
  font-family: syne, sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 530;
  letter-spacing: 0.15ch;
  line-height: 1.5em;
}

.text-sm {
  font-family: syne , ivy , sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.1ch;
  font-style: normal;
  font-weight: 520;
  line-height: 1.5em;
}

.text-xs {
  font-family: syne , ivy , sans-serif;
  font-size: 1.35rem;
  font-style: normal;
  font-weight: 550;
  letter-spacing: 0.1ch;
  line-height: 1.5em;
}

.Button {
  color: var(--C1);
  font-family: Arial , sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.1ch;
  text-transform: uppercase;
  padding: 0.6em 1.2em;
  line-height: 1.5em;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

body {
  background-color: #e3e6e5;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100vw;
  position: relative;
  padding-bottom: var(--footer-height);
}

/* Tablet */
@media screen and (max-width: 1127px) {
  .section-size {
    max-width: 107.8rem;
  }
}

/* Mobile */
@media screen and (max-width: 744px) {
  .section-size {
    max-width: 90vw;
    padding: 3.7rem 1.5rem;
  }

  .section-main-title {
    margin: auto;
    text-align: center;
  }
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;
}

button:hover {
  opacity: 0.96;
  transition: all 0.3s linear;
}

button:active {
  transform: scale(0.99);
  transition: all 0.3s linear;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-position: inside;
}

::-webkit-scrollbar {
  background: inherit;
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--C3);
  border-radius: 30rem;
  height: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 100%;
}

